@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* font from: https://www.fontspace.com/lost-fish-font-f31048 */
  @font-face {
    font-family: "LostFish";
    src: url("/fonts/lost-fish-font/LostFish.ttf");
  }
}

@layer utilities {
  .text-animate {
    display: inline-block;
  }

  .animate-border-bottom {
    position: relative;
  }

  .animate-border-bottom:after {
    content: "";
    position: absolute;
    left: 0;
    /* spacing in bottom */
    bottom: -8px;
    /* border thickness */
    height: 2px;
    width: 100%;
    transform-origin: left center;
    background: white;
    transform: scale3d(0, 1, 1);
    transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  }

  .animate-border-bottom:hover:after {
    transform: scale3d(1, 1, 1);
  }
}
